

<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/prototype_stylesheet.css">
    <link rel="stylesheet" type="text/css" href="./css/prototype_background_stylesheet.css">
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="width:100%">
        <div class="row">
            <div class="col-sm">
                <kiwiprod-title style="position:absolute; padding-top: 5%; left:-30%">Kiwiprod</kiwiprod-title>
                <title-dots style="position:absolute; top:-25%">...</title-dots>
            </div>
            <!-- actual navigation to be done with MVC managers -->
            <div class="col-md">
                <a class="nav-button" id="home-btn" onclick="click_nav_btn(this)" style="position:relative; padding-left: 35%; top: 10%;">Home</a>
            </div>
            <div class="col-md">
                <a class="nav-button" id="how-btn" onclick="click_nav_btn(this)" style="position:relative; top: 10%;">How it works</a>
            </div>
            <div class="col-md">
                <a class="nav-button" id="advice-btn" onclick="click_nav_btn(this)" style="position:relative; top: 10%;">Get career advice</a>
            </div>
            <div class="col-md">
                <a class="nav-button" id="contact-btn" onclick="click_nav_btn(this)" style="position:relative; top: 10%;">Contact support</a>
            </div>
        </div>
    </div>
    
    </head>
    <script type="text/javascript" src="./js/prototype_functions.js"></script>
    </html>



    <link rel="stylesheet" type="text/css" href="~/css/prototype_stylesheet.css">
    <!-- import montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">









    <style>
        #b {
            position: absolute;
            width: 735.89px;
            height: 440.48px;
            left: 10x;
            top: 100px;
            border-radius: 135px;
        }
    </style>

    <!--<rssapp-carousel class="center-block" id="4jDdS8XjIL3AQRM8"></rssapp-carousel>
    <script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script>-->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">



    <p id="b">
        <img src="~/Images/Rectangle 50.png" />
    </p>

   


    <style>
        #a {
            position: absolute;
            width: 691px;
            height: 430.5px;
            left: 966px;
            top: 530px;
            border-radius: 135px;
        }
    </style>

    <p id="a">
        <img src="~/Images/Rectangle 49.png" />
    </p>










    <div>

        <div class="col-md-12" style="max-width: 2300rem;margin-top:220px;">


            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <rssapp-carousel id="Vcg6ePqGjdxq6VMn"></rssapp-carousel>
                <script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script>

            </div>


        </div>
    </div>













